.ico{
    position: relative;
    top: 17px; left: 132px;
    width: 150px;
    height: 150px;
    
}

.texto1{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    height: 80%;
    width: 65%;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 32px;
    background-color: #0b233a;
    text-transform: lowercase;
    

}
body{
    margin: 0px;
    padding: 0px;
    background-color: #0b233a;
    width: 1440px;
    height: 1024px;
    top: 622px;
    left: -2277px;
    
}

.box1{
    position: relative;
    background-color: white;
    width: 400px;
    height: 898px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    float: right;
    box-shadow: 0px 24px 32px -8px #00000014;
    position: relative;
    top: -310px; left: 94px;
}

.imagenizq{
    position: absolute;
    top: 225px;
    left: 37px;
    
}

.textow{
    position: relative;
    padding: 0%;
    margin: 0%;
    top: 580px;
    left: -810px;
    height: 31px;
    color: aliceblue;
    display: block;
}

.img{
    height: 50px;
    position: relative;
    top: 556px;
    left: -803px;
}
.textito{
    position: relative;
    top: 502px;
    left: -742px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.texto_bajo{
    position: relative;
    top: 543px;
    left: 23px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
}

.t1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    position: relative;
    top: 556px;
    left: 3px;

}

.botoncopiar{
    position: absolute;
    top: 820px;
    left: 103px;
    height: 50px;
    width: 197px;
    border-radius: 0px 17px 0px 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #0A3871;
    color: aliceblue;
    display: none;
}

.botoncopiar:hover{
    box-shadow: inset 0 0 10px #ffffff;
    animation-name: animacion1;
    animation-duration: 1s;
}

@keyframes animacion1 {
    0%{
        box-shadow: inset 0 0 0px #ffffff;   
    }
    50%{
        box-shadow: inset 0 0 30px #ffffff;
    }
    1000%{
        box-shadow: inset 0 0 10px #ffffff;
    }
}   

.boxbajoazul:hover{
    font-size: 24px;
    box-shadow: inset 0 0 10px #ffffff;
    animation-name: animacion1;
    animation-duration: 1s;
}
.boxbajoazul{
vertical-align: middle;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: aliceblue;
background-color:#0A3871;
width: 328px;
height: 70px;
border-radius: 0px 17px 0px 17px;
padding: 15px;
box-shadow: 13px 15px 10px -11px #00000014;
flex-direction: row;
float: left;
position: relative;
top: 440px; left: 240px ;

}

.boxbajogris{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
    background-color:#0A3871;
    width: 328px;
    height: 70px;
    border-radius: 0px 17px 0px 17px;
    padding: 15px;
    box-shadow: 13px 15px 10px -11px #00000014;
    flex-direction: row;
    float: left;
    position: relative;
    top: 440px; left: 252px;
   
    }


    .boxbajogris:hover{
        font-size: 24px;
        box-shadow: inset 0 0 10px #ffffff;
        animation-name: animacion1;
        animation-duration: 1s;
    }

    @keyframes animacion1 {
        0%{
            box-shadow: inset 0 0 0px #ffffff;   
        }
        50%{
            box-shadow: inset 0 0 30px #ffffff;
        }
        1000%{
            box-shadow: inset 0 0 10px #ffffff;
        }
    }   

    .boxbajoazul:hover{
        font-size: 24px;
        box-shadow: inset 0 0 10px #ffffff;
        animation-name: animacion1;
        animation-duration: 1s;
    }

    @keyframes animacion1 {
        0%{
            box-shadow: inset 0 0 0px #ffffff;   
        }
        50%{
            box-shadow: inset 0 0 30px #ffffff;
        }
        1000%{
            box-shadow: inset 0 0 10px #ffffff;
        }
    }   

    footer{
        background-color: #0b233a;
        position: absolute;
        bottom: -170px;
        width: 100%;
        height: 92px;
        color: white;
    }

    .link{
        position: relative;
        height: 50px;
        top: -51px;
        left: 488px;
    }

    .hub{
        position: relative;
        height: 50px;
        top: -51px;
        left: 494px;
    }

    .inst{
        position: relative;
        height: 50px;
        top: -52px;
        left: 501px;  
    }

    .pie{
        position: relative;
        height: 50px;
        top: -65px;
        left: 438px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
